ABBR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A:link ABBR:hover {
	CURSOR: pointer
}
A:visited ABBR:hover {
	CURSOR: pointer
}
A:hover ABBR:hover {
	CURSOR: pointer
}
A:active ABBR:hover {
	CURSOR: pointer
}
A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
#skip {
	POSITION: absolute; LEFT: -9999em
}
#downloadFrame {
	POSITION: absolute; LEFT: -9999em
}
.hide {
	POSITION: absolute; LEFT: -9999em
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-block
}
.clearfix {
	DISPLAY: block
}
.printMessage {
	DISPLAY: none
}
